* {
    box-sizing: border-box;
    /*Modifica a maneira de exibir o tamanho de uma caixa, define como as dimensões de um elemento são calculadas: devem concluir preenchimento e bordas ou não*/
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #f1f1f1;
}

.cabecalho{
    padding: 30px;
    text-align: center;
    background-color: #83c5be;
}

.cabecalho h1{
    font-size: 50px;
}
.topnav{
    overflow: hidden;
    background-color: #ffddd2;
}
.topnav a{
    float: left;
    display: block;
    color: #080808;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: rgb(236, 233, 189);
    color: rgb(12, 12, 12);
    border-bottom: #dfdeaa solid 4px;
    box-shadow: #e4df9b 4px 5px;
    border-end-end-radius: 10px;
}
.topnav{
   
    display:block;
    
}